main #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border-radius: 45px;
    background: #B0D8DA;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    margin: 30px;
    
}

 main #container .div1 {   
    flex: 0.45;
    border-radius: 45px;    
 }

 main #container .div1 h1 {
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 100px;  
    margin-right: 93px;
    margin-left: 32px;

 }

 main #container .div1 h2 {
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 66px;
    margin-left: 32px;
}

main #container .div1 img {
    width: 80%;
    transform: rotate(-1.381deg);
    float: right;
    margin-right: -50px;
    margin-top: 20px;    
    position: relative;
    z-index: 15;

}

main #container .div2 {
    flex: 0.7;
    border-radius: 45px;
    background: #FFF;
    width: 800px;
    z-index: 12;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 90vh;
} 

main #container .div2 h2 {
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 70px;
    margin-left: 100px;
    margin-top: 80px;
}

main #container .div2 p {
    color: #ABABAB;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

main #container .div2 form{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
main #container .div2  label {
    color: #ABABAB;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}

main #container .div2 .input1{
    border-radius: 5px;
    border: 2px solid #D9D9D9;
    width: 200px;
    padding: 5px;
}

button  {
    border-radius: 25px;
    background: #5DC6C9;    
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 15px;
    border: none;
    margin-top: 15px;
    
}

button a {
    text-decoration: none;
    border: none;
    color: #FFF;
}